body {
  background-color: rgb(240, 225, 208); 
  margin: 0;
  padding: 0;
}

h1 { 
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 74px;
  color: rgb(42, 74, 34);
  padding-left: 50px; 
  padding-right: 50px;
  position: relative; 
}

p {
  margin-top: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 12px; 
  color: rgb(42, 74, 34);
  padding-left: 130px;
  padding-right: 620px; 
}


.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  background-color: rgb(240, 225,208);
}

.content {
  flex: 1;
  position: relative;
  padding: 0 200px 0 20px;
  z-index: 2; 
}

.grass-image {
  position: relative;
  width: auto; 
  height: auto;
  margin-top: -600px;
  padding-right: 140px;
  bottom: 20px; 
}


.right-images {
  flex: 0;
  text-align: right;
  position: absolute; 
  right: 0px;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 500px;
  height: 100%;
  z-index: 1;
}

.right-images img {
  width:1200px;
  height: auto;
  margin-bottom: 10px;
  margin-right: 20px;
}


#people {
  animation: wobble 1s infinite alternate;
}

@keyframes wobble {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

.right-images img:last-child {
  position: absolute;
  top: 0;
  right: 500px;
  z-index: 1;
}

