

body {
  background-image: url('https://cdn.discordapp.com/attachments/1155881440039411856/1155883069224530010/harmonic_collection_2_background_copy.png');
  background-size: cover; 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: courier;
  overflow: hidden; /* Prevents scrollbars when the gallery is larger than the viewport */
}

.container img {
  width: 10%;
}
