body {
background-color: black;
padding: 50px;
font-size: 16px;
margin: 0;
padding: 0;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-repeat: no-repeat; 
background-size: cover;
background-position: center;
background-position-y: 200px; 
max-height: 175px; 
overflow-y: scroll; 
}

.header {
    background-color: black;
    display: flex;
    align-items: center; 
}

.header nav ul {
    list-style: none; 
    display: flex;
    margin-left: -80px; 
}
.header nav ul li {
    margin: -10px; 
}

:root {
    --height: 100px;
    --speed: 15s;
}

* {
    margin: 0;
    padding: 0; 
}

.ticker-tape {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100;
    height: var(--height);
    padding-left: 100%;
    position: relative;
    z-index: 1;
    position: absolute; 
    left: 100px;
    right: 0;
}

.ticker-tape .ticker {
    height: var(--height);
    line-height: var(--height);
    white-space: nowrap;
    display: inline-block;
    animation: ticker var(--speed) linear infinite;

    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-name: ticker; 
    -webkit-animation-duration: var(--speed);

    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker; 
    animation-duration: var(--speed);
}

.container {
    position: relative;
    z-index: 0;
}

.ticker-tape .ticker__item {
    display: inline-block; 
    padding: 0 2rem;
    font-size: 2rem;
    color: white; 
    padding-top: 30px; 
}

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
} 

@keyframes ticker {
    0% {
        transform: translatY(100%);
        visibility: visible;
    }
    100% {
        transform: translateX(-100%);
    }
}

.main {
    background-color: gray;
    text-align: center;
}


h1 { 
    font-family: "Eu Alonira", sans-serif; 
    color: white; 
    text-align: center;
}

.pin {
    position: absolute; 
    top: -50px; 
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: top 0.3s, opacity 0.3s;
}

.image-container:hover .pin {
    top: 10px;
    opacity: 1;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding:10px;
    background-color: black;
    min-height: 300px;
    font-family: 'PT Mono', monospace;
    color:  black;
    font-size:  36px;
    text-align:  center;
    flex-direction: space-around;
    align-items: stretch;
    flex-wrap: wrap;
  }
  
.container img {
    max-width: 100%;
    min-width: 300px;
    margin: 10px 10px;
    width: 100px;
    transition: transform 0.3s;
}

.container img:hover {
    transform: scale(1.2);
}

 /* tablet breakpoint */
@media (min-width: 768px) {
    body {
        font-size: 40px
    }
 }
/* Desktop breakpoint */
@media (min-width: 992px) {
    body {
      font-size: 50px;
    }
  }

  
  /* Wide screen breakpoint */
  @media (min-width: 1200px) {
    body {
      font-size: 60px;
    }
  }
