body {
background-color: black;
padding: 50px;
font-size: 16px;
}

h1 { 
    font-family: "Eu Alonira", sans-serif; 
    color: white; 
    text-align: center;
}

.pin {
    position: absolute; 
    top: -50px; 
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: top 0.3s, opacity 0.3s;
}

.image-container:hover .pin {
    top: 10px;
    opacity: 1;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding:10px;
    background-color: black;
    min-height: 300px;
    font-family: 'PT Mono', monospace;
    color:  black;
    font-size:  36px;
    text-align:  center;
    flex-direction: space-around;
    align-items: stretch;
    flex-wrap: wrap;
  }
  
.container img {
    max-width: 100%;
    min-width: 300px;
    margin: 10px 10px;
    width: 100px;
    transition: transform 0.3s;
}

.container img:hover {
    transform: scale(1.2);
}

 /* tablet breakpoint */
@media (min-width: 768px) {
    body {
        font-size: 40px
    }
 }
/* Desktop breakpoint */
@media (min-width: 992px) {
    body {
      font-size: 50px;
    }
  }

  
  /* Wide screen breakpoint */
  @media (min-width: 1200px) {
    body {
      font-size: 60px;
    }
  }